.recipe-manager {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.recipe-manager input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 16px;
    padding: 20px 40px 20px 10px;
    background-color: rgb(235, 255, 254);
    border: 1px solid rgb(184, 224, 255);
}

.add-btn {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #67c3e1;
    border: 1px solid #3797b7;
    border-radius: 6px;
    cursor: pointer;
}

.recipe-output {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.recipe-item {
    background-color: rgb(235, 255, 254);
    border: 1px solid rgb(184, 224, 255);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.del-btn {
    margin: 10px;
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    background-color: #e28462;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}